@model IEnumerable<Obra.Domain.Models.FotoEmpreendimentoModel>

    <h4>Fotos do Empreendimento</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoArquivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoArquivo)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
