@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
<i class="@ViewBag.ControllerIcon"></i>
@ViewBag.ControllerName
</h1>

<h2>
<i class="@ViewBag.ActionIcon"></i>
@ViewBag.ActionName
</h2>
